.container {
    background: linear-gradient(to bottom, #FFE999, #FFE6C0);
    font-family: 'Roboto Condensed', sans-serif;
    padding: 20px;
    text-align: center;
    min-height: 100vh; /* Добавляем минимальную высоту */
    display: flex;
    flex-direction: column;
    justify-content: space-between; /* Размещаем футер в конце страницы */
}

.header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px 20px;
    background-color: #FFE999;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    border-radius: 10px;
}

.logo {
    height: 70px;
    width: 70px;
}

.searchBar {
    display: flex;
    align-items: center;
}

.searchBar input {
    padding: 5px;
    border: 1px solid #ccc;
    border-radius: 4px;
    margin-right: 10px;
}

.cartSummary button,
.searchBar button,
.headerButtons a,
.footerButtons button {
    padding: 5px 10px;
    border: 1px solid #cccccc00;
    border-radius: 10px;
    background-color: #FFA741;
    cursor: pointer;
    color: white;
    text-decoration: none;
    margin: 0 5px;
}

.headerButtons a {
    text-decoration: none;
    color: #ffffff;
}

.cartSection {
    margin: 20px 0;
    flex: 1; /* Занимаем всё доступное пространство */
}

.cartItem {
    display: flex;
    align-items: flex-start; /* Изменим выравнивание */
    justify-content: space-between;
    margin: 10px 0; /* Уменьшаем отступы */
    padding: 10px; /* Уменьшаем внутренние отступы */
    border: 1px solid #cccccc00;
    border-radius: 10px;
    background-color: linear-gradient(to bottom, #FFE999, #FFE6C0);
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    width: 50%; /* Уменьшаем ширину */
    margin: 0 auto; /* Центрируем */
}

.cartImage {
    width: 100px; /* Уменьшаем размер изображения */
    height: 100px; /* Уменьшаем размер изображения */
    border-radius: 8px;
}

.cartDetails {
    flex: 1;
    margin-left: 20px; /* Уменьшаем отступ */
    text-align: left; /* Выравниваем текст по левому краю */
}

.removeButton {
    padding: 5px 10px; /* Уменьшаем размер кнопки */
    border: 1px solid #cccccc00;
    border-radius: 10px;
    background-color: #FFA741;
    cursor: pointer;
    color: white;
    margin-top: 20px; /* Добавляем отступ сверху */
}

.cartSummary {
    margin: 20px 0;
    padding: 20px;
    border: 1px solid #cccccc00;
    border-radius: 10px;
    background-color: linear-gradient(to bottom, #FFE999, #FFE6C0);
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    width: 49%; /* Уменьшаем ширину */
    margin: 0 auto; /* Центрируем */
}

.cartHelp {
    margin: 20px 0;
    padding: 20px;
    border: 1px solid #ccc;
    border-radius: 8px;
    background-color: #fff;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    width: 50%; /* Уменьшаем ширину */
    margin: 0 auto; /* Центрируем */
}

.footer {
    text-align: center;
    padding: 20px;
    background-color: #FFE6C0;
    box-shadow: 0 -2px 4px rgba(0, 0, 0, 0.1);
    border-radius: 10px;
}

.footerButtons {
    margin-bottom: 10px;
}

.footerButtons button {
    margin: 0 5px;
}

::-webkit-scrollbar {
    width: 8px;
    background-color: #FFE6C0;
}

::-webkit-scrollbar-thumb {
    background-color: #FFA741;
    border-radius: 10px;
}

::-webkit-scrollbar-thumb:hover {
    background-color: #FF8C00;
}