.container {
    background: linear-gradient(to bottom, #FFE999, #FFE6C0);
    font-family: 'Roboto Condensed', sans-serif;
    padding: 20px;
    text-align: center;
    min-height: 100vh; /* Добавляем минимальную высоту */
    display: flex;
    flex-direction: column;
    justify-content: space-between; /* Размещаем футер в конце страницы */
}

.header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px 20px;
    background-color: #FFE999;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    border-radius: 10px;
}

.logo {
    height: 70px;
    width: 70px;
}

.searchBar {
    display: flex;
    align-items: center;
}

.searchBar input {
    padding: 5px;
    border: 1px solid #ccc;
    border-radius: 4px;
    margin-right: 10px;
}

.searchBar button,
.headerButtons a,
.footerButtons button,
.removeButton {
    padding: 5px 10px;
    border: 1px solid #cccccc00;
    border-radius: 10px;
    background-color: #FFA741;
    cursor: pointer;
    color: white;
    text-decoration: none;
    margin: 0 5px;
}

.headerButtons a {
    text-decoration: none;
    color: #ffffff;
}

.compareSection {
    margin: 20px 0;
    flex: 1; /* Занимаем всё доступное пространство */
}

.compareSection h1 {
    margin-bottom: 20px;
}

.compareItems {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    margin: 20px 0;
}

.compareItem {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 10px;
    padding: 20px;
    border: 1px solid #cccccc00;
    border-radius: 10px;
    background-color: linear-gradient(to bottom, #FFE999, #FFE6C0);
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    width: 200px;
}

.compareImage {
    width: 100%;
    height: auto;
    border-radius: 8px;
}

.compareDetails {
    text-align: left;
    margin-top: 10px;
}

.footer {
    text-align: center;
    padding: 20px;
    background-color: #FFE6C0;
    box-shadow: 0 -2px 4px rgba(0, 0, 0, 0.1);
    border-radius: 10px;
}

.footerButtons {
    margin-bottom: 10px;
}

.footerButtons button {
    margin: 0 5px;
}

::-webkit-scrollbar {
    width: 8px;
    background-color: #FFE6C0;
}

::-webkit-scrollbar-thumb {
    background-color: #FFA741;
    border-radius: 10px;
}

::-webkit-scrollbar-thumb:hover {
    background-color: #FF8C00;
}